body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url("Images/Dander.jpg");
    background-color: #cccccc;
}

header {
    background-image: url("Images/Dander.jpg");
    background-color: #ff6f61;
    color: white;
    text-align: right;
    padding: 0.25em 2em;
    width: auto;
}

header nav {
    background-color: #333; /* Fondo oscuro */
    color: white;
    padding: 10px 0;
}

header nav .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar el menú */
}

header nav .menu li {
    margin: 0 15px;
}

header nav .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

header nav .menu li a:hover {
    background-color: #ff6f61; /* Color al pasar el ratón */
    color: #fff;
    border-radius: 5px;
}


header img {
    width: 100px;
    height: 100px;
    float: left;
    /* Center vertically */
    padding-top: 0.5em;
}

header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#about, #team, #projects {
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Alineación vertical */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si la pantalla es pequeña */
}

.team-member {
    width: 20%; /* Ajusta el ancho de cada tarjeta */
    text-align: center;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project-update {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}