main {
    padding: 20px;
    background-color: #CCEAF4;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.valor {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #800020;
}

.benchmarking table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.benchmarking th, .benchmarking td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.benchmarking th {
    background-color: #800020;
    color: white;
}

.ingreso_mensual table {
    width: 25%;
    border-collapse: collapse;
    margin: 20px 0;
}

.inversion th, .inversion td, .ingreso_mensual th, .ingreso_mensual td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ingreso_mensual th, .inversion th {
    background-color: #800020;
    color: white;
}

.ingreso_mensual tr:nth-child(8) {
  color: #333;
  background: lightgray;
}

.grafica, .demanda, .natalidad, .valor-mercado, .benchmarking, .ingreso_mensual, .inversion {
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    margin: 20px 0;
    border-radius: 5px;
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.grafico-container {
    display: flex;
    flex-direction: column; /* Asegura que la gráfica y la leyenda estén en columna */
    align-items: center;
    flex: 1;
    max-width: 50%;
}
canvas {
    width: 70% !important;  /* Se expande al máximo del contenedor */
    max-width: 100%;  /* Evita que sobrepase su contenedor */
}


.analisis {
    flex: 1; /* Hace que el texto ocupe el espacio disponible */
    text-align: justify;
    font-style: italic;
    margin-top: 30px;
    color: #555;
}

.datos_asdf{
    flex:1;
}

#graficoMercado{
    width: 30%;
    height: 40%;
    margin: 0 auto;
}
#graficoDemanda{
    width: 750px;
    height: 750px;
    margin: 0 auto;
}
#birthRateChart{
    width: 750px;
    height: 750px;
    margin: 0 auto;
}

