

/* Diseño responsivo: Si la pantalla es pequeña, apila los elementos */
@media (max-width: 768px) {
    .seccion {
        flex-direction: column;
        text-align: center;
    }

    .imagen img {
        max-width: 100%; /* Imagen más grande en móviles */
    }
}
.container {
    display: grid;
    gap: 20px 40px;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-template-rows: 1fr 1fr; /* Dos filas */
  }

.texto {
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #800020;
    color: white;
}

body {
    flex: 1; /* Hace que el texto ocupe el espacio disponible */
    text-align: justify;
    font-style: italic;
    color: #555;
}
.horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.imagen img {
    max-width: 350px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
}

.VSM{
    width: 100%;
}

figcaption{
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    font-style: normal;
    color: #333;
}

.contenedor {
    display: flex; /* Activa el modo flexible */
    align-items: center; /* Alinea verticalmente */
    justify-items: center;
    gap: 20px; /* Espacio entre la lista y la imagen */
}

.contenedor ol {
    margin: 0;
    padding-left: 20px; /* Ajusta el margen izquierdo de la lista */
}
.contenedor li {

    margin: 10px;
}
.contenedor img {
    width: 700px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
}
.contenedor2 {
    display: flex; /* Activa el modo flexible */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre la lista y la imagen */
}

.contenedor2 img {
    display: flex;
    height: 400px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 10px; /* Bordes redondeados opcionales */
    
}



.imagen_izquierda {grid-column: 1;grid-row: 1}
.texto_derecha {grid-column: 2; grid-row: 1}
.imagen_derecha {grid-column: 2;grid-row: 2}
.texto_izquierdo {grid-column: 1; grid-row: 2}