.button {
    background-color: #800020; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 16px; /* Tama침o del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 12px 24px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.button:hover {
    background-color: #a52a2a; /* Color m치s claro al pasar el cursor */
    transform: scale(1.05); /* Efecto de crecimiento */
}

.button:active {
    background-color: #5a0015; /* Color m치s oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de pulsaci칩n */
}

.vista {
    width: 800px; /* Ancho de cada tarjeta de juguete */
    text-align: center;
    background-color: lightslategray;
    padding-top: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 10px;
}

.video{
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    padding: 50px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top:20px
}

.embed_video{
    margin:0 auto;
}


.video{
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    padding: 50px;
    margin: 20px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    padding-top:20px
}


.vista img {
    width: 80%;
    height: auto;
    border: 2px solid #dde;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.vista img:hover {
    transform: scale(1.1); /* Efecto de zoom */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

.vista p{
    color: white;
    font-style: bold;
}


.func {
    width: 800px; /* Ancho de cada tarjeta de juguete */
    text-align: center;
    background-color: lightslategray;
    padding-top: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 10px;
}

.func p{
    color: white;
    font-style: bold;
}

.func img {
    width: 80%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}